.img-logo {
    height: 2rem;
    width: 8rem;
}

.showcase-img {
    height: 35rem;
}

.card {
    height: 100%;
}

.card-img-top-one {
    content: url("./images/denim_jeans.jpg");
}

.ihv:hover {
    content: url("./images/denim_jeans2.jpg");
}