.img-logo {
    height: 2rem;
    width: 8rem;
}

.showcase-img {
    height: 35rem;
}

.card {
    height: 100%;
}

/* Image One */
.card-img-top-one {
    content: url("./images/denim_jeans.jpg");
    height: 100%;
}
.ihv-one:hover {
    content: url("./images/denim_jeans2.jpg");
}

/* Image Two */
.card-img-top-two {
    content: url("./images/yeezy_1.jpg");
    height: 100%;
}
.ihv-two:hover {
    content: url("./images/yeezy_2.jpg");
}

/* Image Three */
.card-img-top-three {
    content: url("./images/reddress_1.jpg");
    height: 100%;
}
.ihv-three:hover {
    content: url("./images/reddress_2.jpg");
}

/* Image Four */
.card-img-top-four {
    content: url("./images/grey_1.jpg");
    height: 100%;
}
.ihv-four:hover {
    content: url("./images/grey_2.jpg");
}

/* Image Five */
.card-img-top-five {
    content: url("./images/whitehat_1.jpg");
    height: 100%;
}
.ihv-five:hover {
    content: url("./images/whitehat_2.jpg");
}

/* Image Six */
.card-img-top-six {
    content: url("./images/hoodie_1.jpg");
    height: 100%;
}
.ihv-six:hover {
    content: url("./images/hoodie_2.jpg");
}

/* Image Seven */
.card-img-top-seven {
    content: url("./images/blacktee_1.jpg");
    height: 100%;
}
.ihv-seven:hover {
    content: url("./images/blacktee_2.jpg");
}

/* Image Eight */
.card-img-top-eight {
    content: url("./images/adidas_1.jpg");
    height: 100%;
}
.ihv-eight:hover {
    content: url("./images/adidas_2.jpg");
}